/* estilo.css */  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: black;
  background-image:url(icons/imagem-inteira.jpg); 
  background-size: cover;
  background-attachment: fixed;
}

*
  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

     body { 
    
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    background: black;
    background-image:url(icons/imagem-inteira.jpg); 
    background-size: cover;
    background-attachment: fixed;
  }

  header { 
background: #2e7d32;
 color: white; 
 padding: 20px; text-align: center; }

  h1{
    background-color: rgba(0, 0, 0, 0.6); /* Fundo semi-transparente */
    color: #fff !important;
    font-weight: bold !important;
    text-align: center; 
  }

  h3, h4, h5, h6, p, a, li, label, input, textarea, button {
    color: #fff !important;
    font-weight: bold !important;
}

textarea, mensagem, input[type="text"], input[type="email"] {
  background-color: black;
  color: white;
}

    h2 { color: white; 
    margin-bottom: 10px; 
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.6); /* Fundo semi-transparente */ 

  }      

  p {
    color: black;
    margin: 10px 0;
    text-align: center;
    background-color: black;
  }
    
    nav { 
      background: #388e3c; 
      padding: 10px; 
      text-align: center; }

      nav#navbar a:hover {
        text-decoration: none;
        background-color: rgba(255, 255, 0, 0.486);
        color: black;
        border-radius: 5px;
      }

    nav a { 
      color: black; 
      margin: 0 15px; 
      text-decoration: none; 
      font-weight: bold; 
      font-size: 18px;
      transition: color 0.3s;      
    }

    section { padding: 20px; }

  section#portfolio a {
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 20px;
    display: inline-block;
    margin: 10px;
    transition: background-color 0.3s, color 0.3s;
  }

  section#portfolio a:hover {
    text-decoration: underline;
    color: black;
    background-color: rgba(0, 0, 0, 0.6); /* Fundo semi-transparente */
    border-radius: 5px;
  }

  section#portfolio img {
    margin: 10px; border: 2px solid #ccc; 
    border-radius: 10px; 
    vertical-align: top; 
    display: inline-block; 
  }

 
section#servicos ul  {
    background: rgba(0, 0, 0, 0.6); /* Fundo semi-transparente */
    padding: 20px;
    text-align: center;
    text-decoration: none;
}

section#servicos ul li {
    list-style: none;
    margin: 10px 0;
}

section#home {
    background: rgba(0, 0, 0, 0.6); /* Fundo semi-transparente */
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

section#sobre {
    background: rgba(0, 0, 0, 0.6); /* Fundo semi-transparente */
    padding: 20px;
    text-align: center;
}

section#portfolio {
    background: rgba(0, 0, 0, 0.6); /* Fundo semi-transparente */
    padding: 20px;
    text-align: center;
}

section#contato form {
    background: rgba(0, 0, 0, 0.6); /* Fundo semi-transparente */
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
  }

  input[type="submit"], button[type="submit"] {
    color: black !important;
    background-color: #fff;
    font-weight: bold;
    text-align: center;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    }

  input[type="submit"]:hover, button[type="submit"]:hover {
      background-color: #4caf50;
      color: white !important;
      cursor: pointer; 
    }   
    button[type="submit"] {
    color: black !important;
    background-color: #fff; 

    font-weight: bold;
    text-align: center;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
   }

   input[type="submit"]:hover, button[type="submit"]:hover {
      background-color: #4caf50;
      color: white !important;
      cursor: pointer; 
    }
  
      
    input, textarea {
      width: 80%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
      color: black;
      text-align: center;

    }     

  button {
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  form button {
    text-align: center;
    font-weight: bold;
    background-color: #4caf50;
    color: white;
  }

  form button:hover {
    background-color: #388e3c;
    color: white;
    cursor: pointer;
  }


    
    footer { background: #2e7d32; color: white; text-align: center; padding: 10px; }

